* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  background: linear-gradient(rgb(28, 115, 228) 0%, rgb(0, 10, 70) 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.newdiv {
  padding-top: 10px;
  color: black;
  z-index: 2;
}

p {
  color: white;
  /* position: absolute; */
  position: relative;
  z-index: 3;
}